.detail_container {
     background-color: black;
     color: white;
     background-size: cover;
 }

.detail-img {
    margin: 10px;
    max-width: 350px ;
    max-height: 350px !important;;
   }

.detail-breed {
    text-align: center;
    background-color: rgb(12, 114, 20);
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3%;
    border-radius: 3rem;
}

.detail-button {
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 30px;
    border-radius: 0.3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.detail-name {
    color:yellow;
    font-size: 30px;
}

.detail-button:hover {
    cursor: pointer;
    size: 9rem;
    position: relative;
}

